@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,400&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #1d1f22;
  font-size: 18px;
  line-height: 1.6;
  background-color: #ffffff;
}

 
