*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #1d1f22;
  font-size: 18px;
  line-height: 1.6;
  background-color: #ffffff;
}

 
